@charset "UTF-8";
/*----------------------------
/PC用CSS
/*----------------------------*/
#side_button{
  display: none;
}
header{
  border-bottom: 4px solid #00552e;
}
header .in_header{
  width: 980px;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header #logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header #logo a img:first-child {
  width: 170px;
}
header #logo a img:nth-child(2) {
  width: 130px;
  margin-left: 10px;
}
header nav{
  margin: 3px 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}
header nav a{
  display: block;
  width: 110px;
  text-decoration: none;
  color: #4052E3;
}
header nav a:nth-child(4){
  width: 90px;
}
header nav a:nth-child(6){
  width: 90px;
}
header nav a dl{
  text-align: center;
}
header nav a dl dt{
  margin-bottom: 5px;
}
header nav a dl dt img{
  width: 38px;
}
header nav a dl dd{
  border-right: 1px solid #00552e;
  color: #00552e;
}
header nav a:last-child dl dd{
  border-right:none;
}
header nav a:hover dl dd{
  text-decoration: underline;
}
header .cart_sp{
  display: none;
}
.layer{
  display: none;
}
#form_box{
  width: 980px;
  margin: 20px auto 40px;
}
#selected_box {
  background: #4052E3;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
  margin-bottom: 2px;
}
#selected_box .in_box{
  background: #fff;
  border-radius: 10px;
  padding: 13px 10px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
#selected_box .in_box h2{
  width: 15%;
}
#selected_box .in_box .dl_wrap{
  width: 85%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
}
#selected_box .in_box dl{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
#selected_box .in_box dl dt{
  font-weight: bold;
  background: #c9cce8;
  padding: 6px 13px;
  margin-right: 13px;
}
#search_box {
  background: #4052E3;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 18px 20px 25px;
}
#search_box .ttl_area{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  margin-bottom: 15px;
}
#search_box .ttl_area h2{
  font-size: 20px;
  color: #fff;
}
#search_box .ttl_area h2:before{
  font-family: "Font Awesome 5 Free";
  content: '\f002';
  display: inline-block;
  margin-right: 13px;
}
#search_box .ttl_area .accepting{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  background: #ffc933;
  font-weight: bold;
  padding: 5px 25px;
  margin-left: 10px;
}
#search_box .form_wrapper{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
#search_box .form_wrapper dl{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  margin-right: 50px;
  margin-bottom: 15px;
}
#search_box .form_wrapper dl dt{
  color: #fff;
  width: 70px;
}
#search_box .form_wrapper dl dd select,
#search_box .form_wrapper dl dd input{
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  line-height: 1.7;
  border:none;
}
#search_box .form_wrapper dl dd select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(/img/arrow_bottom.png) no-repeat right 10px center;
}
#search_box .form_wrapper dl dd select::-ms-expand { /*IE対応*/
  display: none;
}
#search_box dl.path dd select{
  width: 300px;
}
#search_box dl.arrival {
  margin-right: 0;
}
#search_box dl.departure select,
#search_box dl.arrival select{
  width: 150px;
}
#search_box div.tokkyu_info{
  width: 100%;
  text-align: right;
  color: #fff;
  padding-top: 0px;
  margin-top: 0px;
  margin-right:70px;
  font-size: 14px;
}
#search_box input.tokkyu_input{
  width: 150px;
}
#search_box dl.seat_type{
  width: 100%;
  margin-right: 0;
}
#search_box dl.seat_type dd{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
#search_box dl.seat_type dd label{
  margin-right: 10px;
  color: #fff;
  background: #5667f3;
  padding: 10px 25px 10px 6px;
  border-radius: 3px;
}
#search_box dl.seat_type dd label input{
  display: none;
}
#search_box dl.seat_type dd label span{
  position: relative;
  padding-left: 25px;
}
#search_box dl.seat_type dd label span:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  background: #fff;
  border-radius: 50%;
}
#search_box dl.seat_type dd label input:checked + span:after{
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 11px;
  height: 11px;
  background: #3749df;
  border-radius: 50%;
}
#search_box dl.date dd{
  margin-right: 10px;
  position: relative;
}
#search_box dl.date dd .ui-datepicker-trigger{
  position: absolute;
  right: 10px;
  top: 50%;
  width: 18px;
  margin-top: -9px;
  opacity: 0.6;
}
#search_box dl.date dd input{
  width: 200px;
}
#search_box dl.date dd select#hour{
  width: 120px;
}
#search_box dl.people{
  margin-right: 0;
}
#search_box dl.people dt{
  margin-right: 15px;
}
#search_box dl.people dd{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  text-align: center;
}
#search_box dl.people dd span{
  display: block;
  color: #fff;
  font-size: 15px;
  margin-right: 5px;
}
#search_box dl.people dd span small{
  font-size: 12px;
}
#search_box dl.people select{
  width: 100px;
}
#search_box dl.people select#adult{
  margin-right: 15px;
}
#search_box .btn{
  width: 440px;
  margin: 0 auto;
  text-align: center;
}
#search_box .btn a{
  text-decoration: none;
  background: #f12d2d;
  display: block;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 13px 0;
  font-size: 26px;
}
#search_box .btn :hover{
  background: #e02828;
}
#search_box .btn a:after{
  font-family: "Font Awesome 5 Free";
  content: '\f002';
  display: inline-block;
  margin-left: 13px;
  font-size: 30px;
}
#form_box .caution{
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.8;
}
#timetable{
  width: 980px;
  margin: 0 auto;
}
#timetable .nav{
  margin: 0 0 20px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
}
#timetable .nav > div{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}
#timetable .nav > div > div{
  width: 140px;
  text-align: center;
}
#timetable .nav > div > div a{
  display: block;
  text-decoration: none;
  color: #000;
  padding: 15px 35px;
  border-radius: 5px;
  background: #ebebeb;
  font-size: 18px;
  border: 1px solid #c9c9c9;
  position: relative;
}
#timetable .nav .pre > div a:before{
  font-family: "Font Awesome 5 Free";
  content: '\f104';
  display: inline-block;
  font-weight: bold;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -9px;
}
#timetable .nav .pre .day{
  margin-right: 10px;
}
#timetable .nav .next > div a:after{
  font-family: "Font Awesome 5 Free";
  content: '\f105';
  display: inline-block;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -9px;
}
#timetable .nav .next .day{
  margin-left: 10px;
}
#timetable #table_list{
  margin: 0 0 20px;
}
#timetable #table_list table thead th{
  background: #3749df;
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 13px 0;
  font-weight: bold;
}
#timetable #table_list table{
  width: 100%;
}
#timetable #table_list table th,
#timetable #table_list table td{
  font-size: 18px;
  padding: 10px 8px;
  border:1px solid #fff;
  text-align: center;
}
#timetable #table_list table td.align_l{
  text-align: left;
}
#timetable #table_list table td{
  padding: 8px;
}
#timetable #table_list table th{
  background: #d4d5df;
  font-weight: normal;
}
#timetable #table_list table tr:nth-child(even){
  background: #f3f4fc;
}
#timetable #table_list table tr:nth-child(odd){
  background: #ebedff;
}
#timetable #table_list table td a.available{
  display: block;
  background: #fff;
  padding: 9px 0;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  border:1px solid #d4d5df;
  border-bottom: 2px solid #d4d5df;
  text-decoration: none;
  color: #000;
}
#timetable .caution p{
  margin-bottom: 15px;
  line-height: 1.4;
}
footer{
  margin-top: 50px;
}
footer ul{
  width: 660px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}
footer ul li{
  padding: 0 15px;
  border-right: 1px solid #00552e;
}
footer ul li:last-child{
  border-right:none;
}
footer ul li a{
  line-height: 1;
  color: #00552e;
  text-decoration: none;
}
footer .footer_bottom{
  margin-top: 18px;
  background: #00552e;
  padding: 30px 0 40px;
  text-align: center;
  color: #fff;
}
footer .footer_bottom h5{
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 30px;
}
footer .footer_bottom .address{
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 30px;
}
footer .footer_bottom .copyright{
  font-size: 11px;
}

/*===========================

index

============================*/
#kv{
  position: relative;
}
#kv .in_kv{
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 744px;
}
#kv .in_kv picture{
  display: block;
}
#kv .in_kv .kv_bg{
  max-width: none;
  width: auto;
  position: relative;
}
#kv .in_kv .kv_ttl {
  position: absolute;
  top: 50px;
  left: calc(50% - 150px);
}
#search_form{
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -490px;
  background: #3749df;
  width: 320px;
  border-radius: 10px;
  border:3px solid #fff;
  padding: 25px;
}
#search_form .search_form_here {
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #FEC738;
  padding-bottom: 10px;
}
#search_form .text_wrap{
  color: #fff;
  padding-top: 10px;
}
#search_form .text_wrap label{
  margin-bottom: 10px;
  display: block;
}
#search_form .text_wrap label small{
  font-size: 12px;
}
#search_form .text_wrap label input{
  display: none;
}
#search_form .text_wrap label span{
  position: relative;
/*
  padding-left: 25px;
*/
}
#search_form .text_wrap label span:before{
  content: "";
  display: block;
  position: absolute;
  top: 4;
  left: 0;
  width: 15px;
  height: 15px;
/*
  background: #fff;
*/
  border-radius: 10%;
}
#search_form .text_wrap label input:checked + span:after{
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 11px;
  height: 11px;
  background: #3749df;
  border-radius: 50%;
}
#search_form .formarea{
  margin-bottom: 12px;
}
#search_form .formarea select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(/img/arrow_bottom.png) no-repeat right 7px center;
  background-size: 10px; auto;
}
#search_form select,
#search_form input[type="text"]{
  line-height: 1.7;
  width: 100%;
  padding: 6px 5px;
  border-radius: 5px;
  font-size: 16px;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#search_form select::-ms-expand { /*IE対応*/
  display: none;
}
#search_form .tokkyu_info{
  color: #fff;
  padding-top: 5px;
  font-size: 14px;
}
#search_form .day{
  position: relative;
}
#search_form .day select#datepicker,
#search_form .day input[type="text"]#datepicker{
  width: 140px;
}
#search_form .day select#hour,
#search_form .day input[type="text"]#hour{
  width: 100px;
}
#search_form .day .ui-datepicker-trigger{
  position: absolute;
  top: 70%;
  left: 118px;
  width: 16px;
  opacity: 0.6;
  margin-top: -8px;
}
/*
#search_form .seat .radio_wrap{
  color: #fff;
  padding-top: 10px;
}
#search_form .seat .radio_wrap label{
  margin-bottom: 10px;
  display: block;
}
#search_form .seat .radio_wrap label small{
  font-size: 12px;
}
#search_form .seat .radio_wrap label input{
  display: none;
}
#search_form .seat .radio_wrap label span{
  position: relative;
  padding-left: 25px;
}
#search_form .seat .radio_wrap label span:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  background: #fff;
  border-radius: 50%;
}
#search_form .seat .radio_wrap label input:checked + span:after{
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 11px;
  height: 11px;
  background: #3749df;
  border-radius: 50%;
}
*/
#search_form .num select,
#search_form .num input[type="text"]{
  width: 55px;
}
#search_form .num span{
  color: #fff;
}
#search_form .num .small{
  font-size: 12px;
}
#search_form .btn{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
#search_form .btn a {
  text-decoration: none;
  background: #f12d2d;
  display: block;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 5px 0;
  font-size: 20px;
}
#search_form .btn a:after {
  font-family: "Font Awesome 5 Free";
  content: '\f002';
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
}
#vehicle_guide{
  background: url(/img/guide_bg.png) no-repeat top center;
  background-size: cover;
  height: 200px;
  padding: 30px 0 40px;
}
#vehicle_guide .in_bdy{
  width: 980px;
  margin: 0 auto;
}
#vehicle_guide .in_bdy h2{
  font-size: 24px;
  color: #4052E3;
  margin-bottom: 25px;
  font-weight: normal;
}
#vehicle_guide .in_bdy ul{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
}
#vehicle_guide .in_bdy ul li{
  width: 48%;
}
#vehicle_guide .in_bdy ul li a{
  display: block;
  width: 100%;
  height: 75px;
  text-align: center;
  background: #fff;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  text-decoration: none;
  font-size: 22px;
  border-radius: 5px;
  border:3px solid #4052E3;
  color: #000;
  font-weight: bold;
  position: relative;
}
#vehicle_guide .in_bdy ul li a samll{
  font-size: 14px;
}
#vehicle_guide .in_bdy ul li a:after{
  font-family: "Font Awesome 5 Free";
  content: '\f105';
  display: inline-block;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -17px;
  color: #4052E3;
  font-size: 33px;
  line-height: 1;
}
#info{
  background: #fff;
  padding: 30px 0;
}
#info .in_bdy{
  width: 980px;
  margin: 0 auto;
}
#info .in_bdy h2{
  font-size: 24px;
  color: #00552e;
  margin-bottom: 25px;
  font-weight: normal;
}
#info .in_bdy .info_list dl{
  margin-bottom: 8px;
}
#info .in_bdy .info_list dl a{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  background: #F6F6F6;
  padding: 25px 50px 25px 25px;
  border-radius: 10px;
  text-decoration: none;
  color: #707070;
  line-height: 1.2;
  position: relative;
}
/*
#info .in_bdy .info_list dl a:after{
  font-family: "Font Awesome 5 Free";
  content: '\f105';
  display: inline-block;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 50%;
  color: #646464;
  font-size: 33px;
  line-height: 1;
  margin-top: -17px;
}
*/
#info .in_bdy .info_list dl a dt{
  margin-right: 40px;
}
#info .in_bdy .info_list .more{
  text-align: right;
  margin-top: 15px;
}
#info .in_bdy .info_list .more a{
  text-decoration: none;
  color: #4052E3;
}
#info .in_bdy .info_list .more a:hover{
  text-decoration: underline;
}
#topic{
  background: #F6F6F6;
  padding: 30px 0;
}
#topic .in_bdy{
  width: 980px;
  margin: 0 auto;
}
#topic .in_bdy h2{
  font-size: 24px;
  color: #00552e;
  margin-bottom: 25px;
  font-weight: normal;
}
#topic .in_bdy ul{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
}
#topic .in_bdy ul li{
  width: 32%;
}
#sns{
  background: #fff;
  padding: 30px 0;
}
#sns .in_bdy{
  width: 980px;
  margin: 0 auto;
}
#sns .in_bdy h2{
  font-size: 24px;
  color: #4052E3;
  margin-bottom: 25px;
  font-weight: normal;
}
#sns .in_bdy p{
  text-align: center;
  color: #707070;
  margin-bottom: 20px;
}
#sns .in_bdy ul{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}
#sns .in_bdy ul li{
  width: 70px;
}
#sns .in_bdy ul li:first-child{
  margin-right: 70px;
}

/*===========================

faq

============================*/
#faq{
  background: #fff;
  padding: 30px 0;
  line-height: 1.4;
}
#faq .in_bdy{
  width: 980px;
  margin: 0 auto;
}
#faq h2 {
  font-size: 24px;
  color: #00552e;
  margin-bottom: 25px;
  font-weight: normal;
}
#faq .faq_list dl{
  margin-bottom: 40px;
}
#faq .faq_list dl dt{
  font-size: 22px;
  background: #E6FFE9;
  color: #00552e;
  border-radius: 5px;
  padding: 15px 0 15px 35px;
  margin-bottom: 20px;
}
#faq .faq_list dl dd{
  color: #707070;
  line-height: 1.4;
}
#faq .faq_list dl dd table{
  margin: 30px auto;
  width: 70%;
}
#faq .faq_list dl dd table th,
#faq .faq_list dl dd table td{
  border: 1px solid #707070;
  vertical-align: middle;
  padding: 7px 15px;
}
#faq .faq_list dl dd table th{
  font-size: 20px;
  font-weight: normal;
  background: #E6FFE9;
}
#faq .faq_list dl dd table tr td:last-child{
  text-align: center;
}
#faq .faq_list dl dd .mgb20{
  margin-bottom: 20px;
}
#faq .faq_list dl dd .mgb30{
  margin-bottom: 30px;
}
#faq .faq_list dl dd .mgb50{
  margin-bottom: 50px;
}
#faq .faq_list dl dd img.freemail,
#faq .faq_list dl dd img.keitai{
  width: 700px;
}
#faq .contact_box{
  background: #E6FFE9;
  margin: 150px auto 0;
  width: 60%;
  padding: 25px 35px;
  border-radius: 10px;
}
#faq .contact_box h5{
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 15px;
  color: #00552e;
  text-align: center;
}
#faq .contact_box dl{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
#faq .contact_box dl dt{
  font-size: 28px;
  color: #00552e;
}
#faq .contact_box dl dd{
  font-size: 12px;
  color: #00552e;
  line-height: 1.4;
  margin-left: 80px;
}

/*===========================

mailing_cost

============================*/
#mailing_cost{
  background: #fff;
  padding: 30px 0;
  line-height: 1.4;
}
#mailing_cost .in_bdy{
  width: 980px;
  margin: 0 auto;
}
#mailing_cost h2 {
  font-size: 24px;
  color: #4052E3;
  margin-bottom: 25px;
  font-weight: normal;
}
#mailing_cost .mailing_cost_list{
  color: #707070;
  line-height: 1.4;
}
#mailing_cost .mailing_cost_list table{
  margin: 30px auto;
  width: 100%;
}
#mailing_cost .mailing_cost_list table th,
#mailing_cost .mailing_cost_list table td{
  border: 1px solid #707070;
  vertical-align: middle;
  padding: 7px 15px;
}
#mailing_cost .mailing_cost_list table th{
  font-size: 20px;
  font-weight: normal;
  background: #ECEEFD;
}
#mailing_cost .mailing_cost_list table tr td:last-child{
  text-align: center;
}
#mailing_cost .mailing_cost_list .mgb20{
  margin-bottom: 20px;
}
#mailing_cost .mailing_cost_list .mgb30{
  margin-bottom: 30px;
}
#mailing_cost .mailing_cost_list .mgb50{
  margin-bottom: 50px;
}

/*===========================

cancel

============================*/
#cancel{
  background: #fff;
  padding: 30px 0;
  line-height: 1.4;
  color: #707070;
}
#cancel .in_bdy{
  width: 980px;
  margin: 0 auto;
}
#cancel h2 {
  font-size: 24px;
  color: #00552e;
  margin-bottom: 15px;
  font-weight: normal;
}
#cancel .mgb30{
  margin-bottom: 30px;
}
#cancel p .tel{
  font-size: 22px;
}
#cancel p .f_red{
  color: #F12D2D;
}
#cancel dl{
  margin-bottom: 40px;
}
#cancel dl dt{
  font-size: 22px;
  background: #E6FFE9;
  color: #00552e;
  border-radius: 5px;
  padding: 15px 0 15px 35px;
  margin-bottom: 20px;
}
#cancel dl dd p{
  margin-bottom: 20px;
}
#cancel dl dd .box{
  border: 5px solid #E6FFE9;
  margin-bottom: 40px;
  border-radius: 5px;
  padding: 25px 40px;
}
#cancel dl dd .box h4{
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}
#cancel dl dd .box ul.caution li{
  padding-left: 1em;
  text-indent: -1em;
}
#cancel dl dd .box table{
  width: 100%;
  margin-bottom: 20px;
}
#cancel dl dd .box table th,
#cancel dl dd .box table td{
  border: 1px solid #707070;
  vertical-align: middle;
  text-align: center;
  padding: 8px 0;
}
#cancel dl dd .box table th{
  font-size: 20px;
  font-weight: normal;
  background: #E6FFE9;
}
/*===========================

company

============================*/
#company{
  background: #fff;
  padding: 30px 0;
  line-height: 1.4;
  color: #707070;
}
#company .in_bdy{
  width: 980px;
  margin: 0 auto;
}
#company h2 {
  font-size: 24px;
  color: #00552e;
  margin-bottom: 15px;
  font-weight: normal;
}
#company table{
  width: 80%;
  margin: 0 auto;
}
#company table th,
#company table td{
  border: 1px solid #707070;
  vertical-align: middle;
  padding: 8px 18px;
}
#company table th{
  text-align: center;
  font-weight: normal;
  background: #E6FFE9;
}
/*===========================

law

============================*/
#law{
  background: #fff;
  padding: 30px 0;
  line-height: 1.4;
  color: #707070;
}
#law .in_bdy{
  width: 980px;
  margin: 0 auto;
}
#law h2 {
  font-size: 24px;
  color: #00552e;
  margin-bottom: 15px;
  font-weight: normal;
}
#law table{
  width: 80%;
  margin: 0 auto;
}
#law table th,
#law table td{
  border: 1px solid #707070;
  vertical-align: middle;
  padding: 8px 18px;
}
#law table th{
  text-align: center;
  font-weight: normal;
  background: #E6FFE9;
}
/*===========================

privacypolicy

============================*/
#privacypolicy{
  background: #fff;
  padding: 30px 0;
  line-height: 1.4;
  color: #707070;
}
#privacypolicy .in_bdy{
  width: 980px;
  margin: 0 auto;
}
#privacypolicy h2 {
  font-size: 24px;
  color: #00552e;
  margin-bottom: 15px;
  font-weight: normal;
}
#privacypolicy h3{
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
}
#privacypolicy .meta{
  text-align: right;
  margin-bottom: 50px;
}
#privacypolicy p{
  margin-bottom: 50px;
}
#privacypolicy dl{
  margin-bottom: 50px;
}
#privacypolicy dl dt{
  margin-bottom: 10px;
  font-size: 18px;
}
/*===========================

yakkan

============================*/
#yakkan{
  background: #fff;
  padding: 30px 0;
  line-height: 1.4;
  color: #707070;
}
#yakkan .in_bdy{
  width: 980px;
  margin: 0 auto;
}
#yakkan h2 {
  font-size: 24px;
  color: #4052E3;
  margin-bottom: 15px;
  font-weight: normal;
}
#yakkan h3{
  font-size: 22px;
  background: #ECEEFD;
  color: #4052E3;
  border-radius: 5px;
  padding: 15px 0 15px 35px;
  margin-bottom: 30px;
  font-weight: normal;
}
#yakkan .section{
  margin-bottom: 50px;
}
#yakkan .section h4{
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 8px;
}
/*===========================

guide

============================*/
#guide{
  line-height: 1.4;
  color: #707070;
}
#guide .mgb30{
  margin-bottom: 30px;
}
#guide .mgb80{
  margin-bottom: 80px;
}
#guide .red_f{
  color: #F12D2D;
}
#guide .blue_f{
  color: #4052E3;
}
#guide .f_b{
  color: #4052E3;
  font-size: 22px;
  margin: 20px 0;
}
#guide a{
  text-decoration: none;
  color: #4052E3;
}
#guide a:hover{
  text-decoration: underline;
}
#guide .come_list li{
  padding-left: 1em;
  text-indent: -1em;
}
#guide h2 {
  font-size: 24px;
  color: #00552e;
  margin-bottom: 30px;
  font-weight: normal;
}
#guide h4{
  font-size: 22px;
  background: #E6FFE9;
  color: #00552e;
  border-radius: 5px;
  padding: 15px 0 15px 35px;
  margin-bottom: 20px;
  font-weight: normal;
}
#guide h4 .small{
  font-size: 14px;
  vertical-align: middle;
  margin-right: 20px;
}
#guide #usage {
  background: #E6FFE9;
  padding: 30px 0;
}
#guide #usage .in_usage{
  width: 980px;
  margin: 0 auto;
}
#guide #usage h3{
  margin-bottom: 25px;
  font-weight: normal;
}
#guide #usage ul{
  margin-bottom: 50px;
  list-style: disc;
  padding-left: 1em;
}
#guide #usage .step_box {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  margin-bottom: 30px;
}
#guide #usage .step_box dl{
  background: #00552e;
  color: #fff;
  border-radius: 5px;
  border:2px #fff solid;
  font-weight: bold;
  padding: 30px 45px 40px;
}
#guide #usage .step_box dl dt{
  color: #FFC933;
  margin-bottom: 15px;
  font-size: 18px;
}
#guide #usage .step_box dl dd{
  font-size: 32px;
  text-align: center;
}
#guide #usage .step_box .arrow{
  width: 15px;
}
#guide #usage .align_c{
  text-align: center;
}
#guide .in_bdy{
  width: 980px;
  margin: 0 auto;
  padding: 30px 0;
}
#guide .ttl_wrap{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  margin-bottom: 30px;
}
#guide .ttl_wrap h2{
  margin: 0;
}
#guide .ttl_wrap .sub{
  margin-left: 50px;
}
#guide .in_bdy h3{
  width: 210px;
  background: #00552e;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 32px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
}
#guide .in_bdy h3 span{
  color: #FFC933;
  font-size: 18px;
}
#guide .in_bdy .arrow{
  margin: 30px auto;
  width: 80px;
}
#guide .in_bdy .pay_nav{
  margin: 60px 0;
  font-size: 18px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
}
#guide .in_bdy .pay_nav li{
  text-align: center;
  width: 32%;
}
#guide .in_bdy .pay_nav li a{
  display: block;
  padding: 10px 0;
  border: 2px solid #00552e;
  border-radius: 5px;
  color: #00552e;
}
#guide .in_bdy .pay_nav li a:hover{
  text-decoration: none;
  background: #d1d6ff;
}
#guide .in_bdy .smbc{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}
#guide .in_bdy .smbc .logo{
  width: 190px;
}
#guide .in_bdy .smbc .logo img{
  width: 100%;
}
#guide .in_bdy .smbc .info{
  margin-left: 40px;
  font-size: 20px;
}
#guide .in_bdy #bank,
#guide .in_bdy #credit,
#guide .in_bdy #cvs{
  margin-bottom: 90px;
}
#guide .in_bdy .card_log,
#guide .in_bdy .cvs_logo{
  width: 600px;
  margin: 20px 0;
}
#guide .guide_li{
  margin-bottom: 90px;
}
#guide .guide_li li{
  padding-left: 1em;
  text-indent: -1em;
}
#guide .tel_box{
  width: 80%;
  margin: 0 auto 60px;
  border-radius: 5px;
  border:3px solid #ECEEFD;
  padding: 20px;
  text-align: center;
}
#guide .tel_box h6{
  font-weight: normal;
  margin-bottom: 3px;
}
#guide .contact_box{
  background: #E6FFE9;
  margin: 150px auto 0;
  width: 60%;
  padding: 25px 35px;
  border-radius: 10px;
}
#guide .contact_box h5{
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 15px;
  color: #00552e;
  text-align: center;
}
#guide .contact_box dl{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
#guide .contact_box dl dt{
  font-size: 28px;
  color: #00552e;
}
#guide .contact_box dl dd{
  font-size: 12px;
  color: #00552e;
  line-height: 1.4;
  margin-left: 80px;
}
/*===========================

ticket

============================*/
#ticket{
  background: #fff;
  padding: 30px 0;
  line-height: 1.4;
  color: #707070;
}
#ticket .red_f{
  color: #F12D2D;
}
#ticket .in_bdy{
  width: 980px;
  margin: 0 auto;
}
#ticket h2 {
  font-size: 24px;
  color: #4052E3;
  margin-bottom: 25px;
  font-weight: normal;
}
#ticket #step h3{
  width: 600px;
  margin: 0 auto 40px;
}
#ticket .step_wrap{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  margin-bottom: 50px;
}
#ticket .step_box{
  width: 32.5%;
  background: #FFF7E2;
  border: 4px solid #4052E3;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}
#ticket .step_box.step4,
#ticket .step_box.step5{
  width: 49%;
}
#ticket .step_box h4{
  background: #4052E3;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px 35px 15px 20px;
  font-size: 18px;
  display: inline-block;
  color: #FFC933;
}
#ticket .step_box p{
  margin-bottom: 20px;
}
#ticket .step_box .picture{
  margin: 0 auto;
}
#ticket .step_box.step1 .picture{
  width: 180px;
}
#ticket .step_box.step2 .picture{
  width: 110px;
}
#ticket .step_box.step3 .picture{
  width: 150px;
}
#ticket .step_box.step4 .picture{
  width: 300px;
  margin-top: 45px;
}
#ticket .step_box.step5 .picture{
  width: 100%;
}
#ticket .step_box .caution{
  margin-top: 10px;
  font-size: 14px;
}
#ticket .step_box .picture img{
  width: 100%;
}
#ticket #ticket_sys h3{
  font-size: 24px;
  background: #ECEEFD;
  color: #4052E3;
  border-radius: 5px;
  padding: 15px 0 15px 35px;
  margin-bottom: 40px;
  font-weight: normal;
}
#ticket #ticket_sys .box{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  border: 5px solid #ECEEFD;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
}
#ticket #ticket_sys .box.box2,
#ticket #ticket_sys .box.box4{
  padding-top: 0;
  padding-bottom: 0;
}
#ticket #ticket_sys .box .img{
  width: 18%;
}
#ticket #ticket_sys .box .img img{
  width: 100%;
}
#ticket #ticket_sys .box .content{
  width: 70%;
  margin-left: 5%;
}
#ticket #ticket_sys .box .content h4{
  color: #4052E3;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}
#ticket #ticket_sys .box .txt p{
  margin-bottom: 20px;
}

/* 下記からhermes */
@import url(https://fonts.googleapis.com/css?family=Nunito);

/* 共通CSS */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.header_hermes {
    justify-content: space-between;
    display: flex;
    padding: 20px;
    align-items: center;
}

.header__logo_hermes {
    font-size: 24px;
}

.header__cart_hermes {
    width: 50px;
    height: 50px;
    padding: 10px;
    position: relative;
}

.cart__icon_hermes img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.cart__count_hermes {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: #fff;
    height: 25px;
    width: 25px;
    z-index: 20;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.container_hermes {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 40px;
}

/* 検索フォームCSS */

.orderable_hermes {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;
}

.orderable__head_hermes {
    background: #00552e;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
}

.orderable__date_hermes {
    color: #00552e;
    font-weight: bold;
}

.search_hermes {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px auto;
    padding: 0 40px;
}

.search__select_hermes {
    border-radius: 0;
    width: 100%;
    border: 1px solid #00552e;
    display: block;
    padding: 10px;
}

.search__line_hermes {
    width: 48%;
}


.search__station_hermes {
    width: 49%;
    display: flex;
    justify-content: space-between;
}

.search__start_hermes {
    width: 49%;
}

.search__arrival_hermes {
    width: 49%;
}

.search__time_hermes {
    margin-top: 30px;
    width: 48%;
}

.search__time-wrapper_hermes {
    display: flex;
}

.search__date_hermes {
    margin-right: 10px;
    padding-left: 30px;
}

.search__hour_hermes {
    width: 50%;
}

.search__count_hermes {
    width: 49%;
    margin-top: 30px;
}

.search__count-wrapper_hermes {
    display: flex;
    justify-content: space-between;
}

.search__count-block_hermes {
    width: 49%;
    display: flex;
    align-items: center;
}

.search__count-category_hermes {
    width: 50%;
    text-align: center;
    line-height: 1.2;
}

.search__count-age_hermes {
    font-size: 12px;
}

.search__count-select_hermes {
    flex: 1;
}

.search__button_hermes {
    width: 200px;
    margin: 40px auto 0;
    padding: 15px 40px;
    background-color: #00552e;
    color: white;
    font-weight: bold;
    border: none;
    display: block;
}

.search__button_hermes:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

/* 検索結果表示用CSS */

.search-info__hermes {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.seat-type__hermes {
    font-size: 12px;
    text-align: center;
}

.research_hermes {
    display: flex;
    justify-content: space-between;
}

.research__buttons_hermes {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.research__button_hermes {
    display: block;
    padding: 5px 20px;
    background-color: #00552e;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.result_hermes {
    margin-top: 50px;
}

.result__row_hermes {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.result__row_hermes+.result__row_hermes {
    border-top: 1px solid rgb(112, 112, 112);
}

.result__name_hermes {
    flex: 1;
    font-weight: bold;
}

.result__time_hermes {
    width: 160px;
    font-weight: bold;
    text-align: center;
}

.maru-hermes {
    width: 40px;
    height: 30px;
    background-color: #00552e;
    color: white;
    font-weight: bold;
    margin: 0 20px;
    cursor: pointer;
    border: none;
    text-align: center;
}

.sankaku-hermes {
    width: 40px;
    height: 30px;
    background-color: #00552e;
    color: white;
    font-weight: bold;
    margin: 0 20px;
    cursor: pointer;
    border: none;
    text-align: center;
}

.batsu-hermes {
    width: 40px;
    height: 30px;
    background-color: white;
    color: black;
    font-weight: bold;
    margin: 0 20px;
    text-align: center;
}

.hyphen-hermes {
    width: 40px;
    height: 30px;
    background-color: white;
    color: black;
    font-weight: bold;
    margin: 0 20px;
    text-align: center;
}

/* カート表示用CSS */

.cart__table_hermes {
    border: 1px solid #bbb;
}

.cart__head_hermes {
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #ddd;
}

.cart__body_hermes {
    display: flex;
    border-top: 1px solid #bbb;
}

.cart__remove_hermes {
    width: 70px;
    text-align: center;
}

.cart__ticket_hermes {
    flex: 1;
    border-left: 1px solid #bbb;
}

.cart__unitPrice_hermes {
    width: 150px;
    border-left: 1px solid #bbb;
}

.cart__quantity_hermes {
    width: 110px;
    border-left: 1px solid #bbb;
}

.cart__total_hermes {
    width: 110px;
    border-left: 1px solid #bbb;
}

.cart__head_hermes .cart__remove_hermes {
    height: 100%;
}

.cart__head_hermes .cart__ticket_hermes {
    height: 100%;
}

.cart__head_hermes .cart__unitPrice_hermes {
    height: 100%;
}

.cart__head_hermes .cart__quantity_hermes {
    height: 100%;
}

.cart__head_hermes .cart__total_hermes {
    height: 100%;
}

.cart__body_hermes .cart__remove_hermes {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: underline;
    color: #3160AB;
}

.cart__body_hermes .cart__ticket_hermes {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.cart__body_hermes .cart__unitPrice_hermes {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.cart__body_hermes .cart__quantity_hermes {
    padding: 10px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
}

.cart__body_hermes .cart__total_hermes {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.cart__price_hermes {
    flex: 1;
    background-color: #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: bold;
}

.cart__link_hermes {
    padding: 10px 20px;
    background: #3160AB;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.cart__link_hermes+.cart__link_hermes {
    margin-left: 30px;
}

/* ユーザー区分選択画面 */

.category__link_hermes {
    display: block;
    background-color: #bbb;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 300px;
    margin: 20px auto 0;
    text-decoration: none;
}

.category__signin_hermes {
    background-color: #00552e;
    display: block;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 300px;
    margin: 20px auto 0;
    text-decoration: none;
}

.category__login_hermes {
    display: block;
    background-color: #00552e;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 300px;
    margin: 20px auto 0;
    border: none;
}

.category__block_hermes+.category__block_hermes {
    margin-top: 40px;
}

.category__item_hermes {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.category__label_hermes {
    width: 150px;
}

.category__input_hermes {
    flex: 1;
    max-width: 400px;
}

/* ユーザー情報入力画面 */
.user__block_hermes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.user__block_hermes+.user__block_hermes {
    margin-top: 20px;
}

.user__label_hermes {
    width: 150px;
    display: inline-block;
}

.user__inputBlock_hermes {
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
}

.user__input_hermes {
    width: 100%;
    padding: 5px 10px;
}

.user__inputName_hermes {
    width: 48%;
    display: block;
    padding: 5px 10px;
}

.user__inputName_hermes+.user__inputName_hermes {
    margin-left: 4%;
}

.user__inputPost_hermes {
    margin: 0 10px;
    width: 30%;
    padding: 5px 10px;
}

.user__button_hermes {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background-color: #00552e;
    border: none;
    cursor: pointer;
}

.user__button_hermes:disabled {
    cursor: not-allowed;
    background-color: #bbb;
}

.user__address_hermes {
    display: block;
    width: 100%;
    flex: 1;
}

.user__address_hermes .user__label_hermes {
    margin-top: 20px;
    display: block;
    width: 100%;
}

.user__address_hermes .user__input_hermes {
    margin-top: 10px;
    display: block;
}

.user__error_hermes {
    font-size: 12px;
    color: red;
}

.require_hermes {
    position: relative;
}

.require_hermes::after {
    content: '*';
    position: absolute;
    transform: translateX(10px);
    text-align: center;
    color: red;
}

/* payment.html */
.payment__item_hermes+.payment__item_hermes {
    margin-top: 20px;
}

.payment__body_hermes {
    display: block;
}

/* DatePicker用CSS */

.is-sunday .ui-state-default,
.is-holiday .ui-state-default {
    background: #ffb6ce;
    color: red;
}

.is-saturday .ui-state-default {
    background: #7fc3ff;
    color: blue;
}

/* ========== */

.select__head_hermes {
    background-color: #ddd;
    padding: 10px 20px;
    border-left: 4px solid #00552e;
    margin-bottom: 30px;
}

.select__block_hermes {
    margin-left: 20px;
}

.select__sentType_hermes {
    margin-top: 50px;
}

.select__body_hermes {
    margin-left: 20px;
    margin-bottom: 50px;
}

.select__button_hermes {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background-color: #00552e;
    border: none;
    cursor: pointer;
}

.select__ticketName_hermes {
    margin-top: 20px;
}

.select__position_hermes select {
    margin-left: 30px;
}

.select__link_hermes {
    display: block;
    margin-left: 20px;
}

/* 確認画面 */
.confirm__head_hermes {
    background-color: #ddd;
    padding: 10px 20px;
    border-left: 4px solid #00552e;
    margin: 30px 0;
}

.confirm__body_hermes {
    margin-left: 20px;
}

.confirm__userHead_hermes {
    margin-top: 20px;
    margin-left: 20px;
}

.confirm__userBody_hermes {
    margin-left: 20px;
}

.confirm__back_hermes {
    display: block;
    text-align: right;
    margin-top: 20px;
}

.confirm__button_hermes {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background-color: #00552e;
    border: none;
    cursor: pointer;
}

.confirm__button_hermes:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

.confirm__paymentType_hermes {
    margin-left: 20px;
}


/* 照会情報入力ページ */
.inquiry__head_hermes {
    background-color: #ddd;
    padding: 10px 20px;
    border-left: 4px solid #00552e;
    margin: 30px 0;
}

.inquiry__label_hermes {
    margin-left: 20px;
    width: 150px;
}

.inquiry__input_hermes {
    width: 100%;
    flex: 1;
    margin-right: 20px;
    padding: 5px 10px;
}

.inquiry__item_hermes {
    display: flex;
}

.inquiry__item_hermes+.inquiry__item_hermes {
    margin-top: 20px;
}

.inquiry__back_hermes {
    display: block;
    text-align: right;
    margin-top: 20px;
}

#show,
.inquiry__login_hermes {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background-color: #00552e;
    border: none;
    cursor: pointer;
}

.inquiry__login_hermes:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

.inquiry__error_hermes {
    color: red;
    text-align: center;
}

.show__caution_hermes {
    display: block;
    font-size: 18px;
    color: red;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
}

.show__payment_hermes {
    display: block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    background-color: #00552e;
    margin-top: 20px;
}